body {
    margin: 0;
}

img {
    width: 240px;
    height: 300px;
}

h1 {
    color: coral;
}

.nav-link {
    color: coral;
    font-weight: bold;
}

.btn {
    background-color: coral;
    border: none;
}

.btn.d-md-none {
    margin: 4%;
    height: 80%;
}

main h2 {
    color: coral;
}

#navbar {
    padding: 1% 0;
}

footer {
    color: coral;
}

#ultime-uscite img {
    width: 30%;
    height: 30%;
    margin-left: 10%;
}

.testo { 
    float: right; 
    width: 25%;
    margin-top: 10%;
    margin-right: 20%;
    color: coral; 
}

.carousel-indicators {
    bottom: -30px;
}