body {
    margin: 0;
    color: white;
}

img {
    width: 240px;
    height: 300px;
}

h1 {
    color: coral;
}

a {
    color: coral;
}

a:hover {
    color: coral;
    text-decoration: none;
}

.nav-link {
    color: coral;
    font-weight: bold;
}

.btn {
    background-color: coral;
    border: none;
}

.btn.d-md-none {
    margin: 4%;
    height: 80%;
}

main h2 {
    color: coral;
}

#navbar {
    padding: 1% 0;
}

footer {
    color: coral;
    margin-bottom: 0;
}

#ultime-uscite img {
    width: 60%;
    height: 60%;
}

.testo { 
    float: right; 
    width: 25%;
    margin-top: 10%;
    margin-right: 20%;
    color: coral; 
}

.carousel-indicators {
    bottom: -30px;
}

/* To display two covers in a row */
.content-section-b {
    padding: 50px 0;
    background-color: #3C5A78;
}

.carousel-control.left {
    background-image:none;
}

.carousel-control.right {
    background-image:none;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    display: inline-block;
}

figcaption {
    text-align: center;
    margin-bottom: 5px;
}

section {
    margin-left: 50%;
    padding: 20px 60px;
}

section p {
    margin-top: 8px;
    margin-bottom: 0px;
}

section a {
    margin-top: 8px;
    margin-bottom: 0px;
    color: coral;
}

.genres {
    list-style-type:square;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

input[type=button] {
    background-color: coral;
    color: white;
    padding: 1em;
    border-radius: 20px;
    margin: 5px 0;
    outline: none;
    justify-content: right;
}

ul {
    list-style-position: inside;
    margin-top: 2%;
}

p {
    margin-bottom: 0;
}
